# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: eacc9f803280b8fde1bcd7d848da96a16bdd6ea2f975beffd39c46f35a91a348e039f511a61ffb1add9c30ffd3163d558b8754685d3811b4c6a5256b3db78279

test:
  secret_key_base: 79f5e9cb93ec741c7c783eedc4737f66a4cba4e185519ea9f363600a4adabb12d2716bf918342fb07792b595b4a7d7fb84c159c3369ca2fb914bca664a7f4f3f

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: 86d2866f7689be5a8fdd767f615ae73437214686e6635255b082c4db64f23f23ca54532720d03d689baf5f3a9d1139895d97f6ecdd9fb13de6a7f0881e24515f # <%#= ENV["SECRET_KEY_BASE"] %>
